{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Jokebot 8000!</title>
    <!-- Add the following line... -->
    <link rel="stylesheet" type="text/css" href="{% static "w3.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  </head>
<div class="w3-display-container w3-white">
<header class="w3-container w3-teal w3-serif">
    <nav>
        <h3>
          <span id="nav-left">
           <a href="{% url 'about' %}">About</a>
            <a href ="{% url 'news' %}" >News</a>
            {% if user.is_authenticated %}
            <a href = "{% url 'index' %}">Home</a>
            <a href="{% url 'logout' %}">Log Out</a>
            <a href="{% url 'jokes' %}">Jokes</a>
          </span>
          <span id="nav-right">
            {{request.user.name}}
            <a href="{% url 'profile' %}">View Profile</a>
          </span>
          {% else %}
          <a href="{% url 'login' %}" >Log In</a>
          <a href="{% url 'signup' %}" >Sign Up</a>
        {% endif %}
        </h3>

    </nav>
</header>
<body class="w3-serif">
  <main class="w3-container">
    {% block content %}
    {% endblock %}
  </main>  
</body>
<footer class="w3-teal footer" style="margin-top:25px">
<h2>Jokebot - 2021</h2>
</footer>
</div>
</html>