{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1> Jokes </h1>
    <main>
      <div class="w3-card-4 w3-topbar w3-border-teal" style="width:80%; margin:0 auto; border">
      <header class="w3-container w3-teal">
        <ul>
          <li class="w3-button">
            <form action='joke_favorite' method='GET'>
              <button class="w3-button w3-white" type='submit'>Add to Favorites</button>
            </form>
          </li>

          <!-- The modal is below-->
          <div id="tweeted-id" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container w3-blue" style="color:yellow">
                <span onclick="document.getElementById('id01').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
                <p><h2>@Jokebot8000 has succesfully tweeted the joke!</h2></p>
              </div>
            </div>
          </div>
          <!-- The modal is above-->

          <li class="w3-button">
            <form action='joke_tweet' method='GET'>
              <button class="w3-button w3-white" type='submit' onclick="document.getElementById('tweeted-id').style.display='block'">Tweet this joke</button>
            </form>
          </li>
        </ul>
      </header>
          <div class="w3-container">
          <p><h4>  {{ joke.text }}</h4></p>
          </a>
          </div>
          <footer class="w3-container" style="max-height:36px">
        <span style="padding:0 60px">
        <h4>
            From: {{ joke.source }}
        </span>
        <span style="padding:0 60px">
            By: {{ joke.author }}
        </h4>
        </span>
      </div>
    <main>

    {% endblock %}